<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Covid Economic Impact on California</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.css">

  </head>
  <body>

    <!-- The div where we will inject our map -->
    <div id="chart"></div>

  <h1> wdwwddwd   </h1>
    
    <!-- Our JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js'></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.js"></script>
    <script type="text/javascript" src="../static/js/logic.js"></script>

  </body>
</html>
