<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>California Covid-19 and Economic Charts</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel = "stylesheet" href = "styles.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>California COVID-19 Cases</h1>
        <p>Use the dropdown menu to explore the COVID data.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select the Month</h5>
          <select name="selMonth" id="selMonth"></select>
     
        </div>
        
      </div>
      
     
      <div class="col-md-10">
        <div id="scatter1"></div>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div id="scatter2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="line"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../mike_logic.js"></script>
  <script src="../app.py"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  
</body>

</html>
